:root {
  --clr-primary: hsl(158, 36%, 37%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.image-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.image-wrapper img {
  display: block;
}

.overlay {
  position: absolute;
inset: 0;
  background: rgba(0, 255, 200, 0.5);
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.parent:hover .overlay,
.overlay:hover {
  opacity: 1;
}

.parent {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
}

.child {
    width: 50px;
    height: 50px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  min-height: 100vh;
    font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
}

.attribution {
    position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: 10px;
}

.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-width:20%;
    gap: 15px;
    padding: 20px;
    display: flex;
    min-height: 50 0px;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
}


.sub-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-weight: 600;
    font-size: 12px;
    
}

.sub-div p{
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.line {
    border-bottom: 1px solid hsl(215, 32%, 27%);

    border-radius: 15px;
}

.sub-div2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color: hsl(215, 51%, 70%);
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}

.av{    
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}