*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lilita One", sans-serif;
   
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}

body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x:hidden ;
}

.topnav{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-width:300px;
    background-color:transparent;
    color: white;
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.logo{
    font-size: clamp(20px, 1.5vw, 50px);
}

.topnav span{
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

header.sticky{
    background-color: rgb(255, 255, 255);
    color: #0760f9;
    padding: 30px;
}
header.sticky a,
header.sticky li {
    color: #0760f9;
    font-weight: 700;
}

header.sticky span{
    -webkit-text-stroke: 1px #000000;
}
 
header {
    transition: padding 0.5s ease; 
}


header a,
header li {
    transition: color 0.5s ease;
}

a, li {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    font-size: clamp(10px, 0.8vw, 50px);
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topul a:nth-child(5) img {
    width: 30px;
    height: 30px;
    color: white;
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
    
}

#sec1 {
    position: relative;
    background: linear-gradient(
        135deg,
        #003fee 0%,
        hsl(214, 89%, 74%) 45%,
        #005dcf 100%
    );
    background-attachment: scroll; /* <-- smooth scroll effect */
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#sec1 img{
    position: absolute;
}


.oreo-wrapper{
    font-family: "Archivo Black", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50%;

}

#sec1 h1{
    position: absolute;
    width: 100%;
    font-size: clamp(300px, 27vw, 1000px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    opacity: 0;
    animation: oreo-text 0.8s cubic-bezier(.25,.8,.25,1) forwards;
    -webkit-text-stroke: 5px #ffffff89;
    color: transparent;
 
    text-align: center;
}

.re{
    font-size: clamp(400px, 40vw, 1000px);
}

/* KEYFRAMES */
@keyframes oreo-text{
    0%{
        transform:  scaleX(0);
        opacity: 0;
    }
    50%{
        transform:  scaleX(1.2);
       
    } 100%{
         transform:  scaleX(1);
         opacity: 1;
    }
}

.oreo-main-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    
}

 .oreo-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: scale(0);
    animation: oreo-frappes 0.8s forwards 1.7s ease-in-out;
    transform: translateY(-200%) translateX(100%);
   
 }

  @keyframes oreo-frappes {
        from{
            transform: translateY(-200%) translateX(100%) rotate(0deg);

        } to { 
            transform: translateY(0) translateX(0) rotate(360deg);
        }
    }

.oreo-container::before{
    content: "";
    position: absolute;
    width: 10%;
    min-width: 150px;
    height: 18%;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.379);
    filter: blur(18px);
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    animation: opacity 1s forwards 2.4s linear;
}

 @keyframes opacity {
        from{
            opacity: 0;

        } to { 
            opacity: 100%;
        }
    }

.oreo-frappe{
    position: relative;
    width: 100%;
    max-width: 300px;
    height: auto;
    z-index: 1;
    animation: frappes 17s infinite 2.8s linear;
}

@keyframes frappes {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}

.oreos{
    width: 40%;
    min-width: 400px;
    transform: rotate(45deg) scale(0);
    animation: pop-up 1s forwards 0.8s;
}

.oreo-bites{
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(0);
    animation: pop-up 1s ease-in-out 1.2s forwards; 
}

@keyframes pop-up{
    0%{
        transform: scale(0);
    } 50% {
        transform: scale(1.2);
    } 100%{
        transform: scale(1);
    }
}

.oreo-one{
    width: 20%;
    left: 10%;
    top: 10%;
    animation: rotate 20s infinite linear;
}

.oreo-two{
    width: 15%;
    left: 20%;
    top: 550;
    transform: rotate(145deg);
    animation: rotate 10s infinite linear;
}

.oreo-three{
    width: 10%;
    left: 70%;
    top: 10%;
    transform: rotate(105deg);
    animation: rotate 5s infinite linear;
}

.oreo-four{
    width: 10%;
    left: 60%;
    top: 80%;
    transform: rotate(25deg);
    animation: rotate 5s infinite linear;
}

.oreo-five{
    width: 20%;
    left: 80%;
    top: 60%;
    transform: rotate(65deg);
    animation: rotate 5s infinite linear;
}

#sec2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0f2fe;
    width: 100%;
    gap: 50px;
    overflow: hidden;
}

.bubble-one{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3a73f62d;
    width: 300px;
    height: 300px;
    transform: translate(-50px, -100px);
    border-radius: 1000px;
    animation: bubble 15s ease-in-out infinite ;
}

@keyframes bubble {
    0%, 75% ,100%{
        transform: translate(-50px, -100px);
        background-color: #3a73f62d;
    } 25%{
         transform: translate(-80px, -120px);
        background-color: #3a73f62d;
    }

    50%{
         transform: translate(-10px, -150px);
        background-color: #3a73f62d;
    }
}

.bubble-two{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #3a73f62d;
    width: 300px;
    height: 300px;
    transform: translate(50px, 100px);
    border-radius: 1000px;
    animation: bubble-two 15s ease-in-out infinite ;
    
}

@keyframes bubble-two {
    0%, 75%, 100%{
        transform: translate(50px, 100px);
        background-color: #3a73f62d;
    } 25%{
         transform: translate(80px, 120px);
        background-color: #3a73f62d;
    }

    50%{
         transform: translate(10px, 150px);
        background-color: #3a73f62d;
    }
}





#sec1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, rgba(1, 46, 101, 0) 0%, #e0f2fe 100%);
}

.header-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-menu h1{
    font-size: clamp(50px, 4vw, 500px);
    color: rgb(0, 102, 254);
    font-weight: 1000;
}

.header-menu p{
    font-size: clamp(15px, 1.2vw, 500px);
    color: rgb(90, 90, 90);
    text-align: center;
    width: 100%;
}

.menu-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    z-index: 1;
}

.cards{
    display: flex;
    flex-direction: column;
    box-shadow: 
                0 4px 20px rgba(0, 107, 238, 0.08),
                0 0 0 1px rgba(0, 107, 238, 0.05);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    min-width: 250px;
    
} 

.cards:hover{
    transform: scale(0.97);
    transition: transform 0.3s ease-in-out;
}

.cards:hover img{
    transform: translate(10px, 10px) scale(1.1) rotate(5deg);
    transition: transform 0.3s ease-in-out;
}

.image-container-card{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(160, 202, 253, 0.584) 0%, #a9c9fd 100%)
}

.image-container-card img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.image-container-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(1, 46, 101, 0) 0%, #ffffff 100%);
}

.description-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    gap: 15px;
}


.description-card h1{
    font-weight: 700;
    color: #191919;
}

.description-card p{
    color: #404040;
    
}

.description-card button{
    background: linear-gradient(
        135deg,
        #0041f5 0%,
        #4798fc 100%
    );
    border: none;
    width: 50%;
    height: 40px;
    color: white;
    border-radius: 10px;
    font-weight: 1000;
    transition: all 0.25s ease;
}

.description-card button:hover{
    background: linear-gradient(
        135deg,
        #ffffff 0%,
        #ffffff 100%
    );
    color: #0041f5;
    border: 2px blue solid;
    transition: all 0.25s ease;
}

.about-us {
    position: relative;
    width: 100%;
    padding: 120px 30px;
    background: linear-gradient(
        180deg,
        #e0f2fe 0%,
        #ffffff 100%
    );
    overflow: hidden;
}

.about-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0 50px 0 50px;
    align-items: center;
}

.about-text h1 {
    font-size: clamp(40px, 4vw, 80px);
    color: #0066fe;
}

.about-text p {
    margin-top: 20px;
    color: #444;
    font-size: clamp(14px, 1vw, 18px);
    line-height: 1.6;
}

.about-text{
    width: 80%;
    
}


.about-btn {
    margin-top: 30px;
    width: 180px;
    height: 45px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #0041f5, #4798fc);
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.25s ease;
}

.about-btn:hover {
    background: white;
    color: #0041f5;
    border: 2px solid #0041f5;
}

/* cards */
.about-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.about-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow:
        0 4px 20px rgba(0, 107, 238, 0.08),
        0 0 0 1px rgba(0, 107, 238, 0.05);
    transition: transform 0.3s ease;
}

.about-card:hover {
    transform: translateY(-8px);
}

.about-card i {
    font-size: 30px;
    color: #0066fe;
    margin-bottom: 15px;
}

.about-card h3 {
    color: #191919;
    margin-bottom: 10px;
}

.about-card p {
    color: #555;
    font-size: 14px;
}


@media (max-width: 1024px){

    .menu-cards{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
    }

       #sec1 h1{
       display: none;

    }
}





@media (max-width: 768px){

    #sec1 h1{
       display: none;

    }


    .re{
        font-size: clamp(160px, 45vw, 350px);
    }

    .oreo-container{
        width: 80vw;
    }

    .about-container{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

     .about-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

     .about-text p, h1{
        text-align: center;
    }

      .about-cards{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .oreo-frappe{
        max-width: 220px;
    }

    .topnav{
        padding: 20px;
    }

    .menu-cards{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .menu{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) { 
  .menu-cards{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
    } 

.cards{
    width: 60%;
}

.header-menu p{
    width: 60%;
}


     
}






