*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 font-family: "Google Sans", sans-serif;
}


html{
    overflow-x: hidden;
}
    
body{
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background: #f7f7ff;
    background: linear-gradient(0deg, rgba(247, 247, 255, 1) 0%, rgba(255, 255, 255, 1) 46%);
}

button{
    cursor: pointer;
}

    
    


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: clamp( 10px, 12vw, 150px);
    position: relative;
    z-index: 1; 
     min-height: 60px; /* ensures content fits */
}

nav button{
    background-color: rgb(9, 9, 41);
    color: white;
    border-radius: 100px;
    padding: 13px;
    width:  10%;
    border: none;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    min-width: 150px; 
}

section{
    position: relative;
    padding: 0 0 50px 0;
}


.content{
    display: flex;
    align-items: center; /* vertically centers items */
    justify-content: space-between; /* optional, distributes text and image */
    padding: 0 0 0 50px;
    gap: 50px;
    min-height: 100vh;
    
}


.content p{
    font-size: 20px;
    color: rgb(147, 147, 147);
}

.sub-div-img{
    
    max-width: 50%;
    height: auto; /* keep aspect ratio */
}
.sub-div-cont{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

picture img{
    transform: translate(20px, -200px);
    overflow: hidden;
    width: 150%;
}


.context{
    margin-top: -15%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;  
}

.context h1{
    font-size: clamp(2.25rem, 5vw, 5.625rem);
    font-weight: 600;
    width: 70%;
    color: rgb(0, 0, 59);
}

.context p{
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: rgb(147, 147, 147);
}


.context p{
    width: 50%;
}

.context > button {
    border: none;
    border-radius: 100px;
    padding: 15px 0;
    width: 20%;
    min-width: 150px; 
    color: white;
    font-size:1.2rem ;
    background: #f500a7;
    background: #ff57ae;
    background: linear-gradient(0deg, rgba(255, 87, 174, 1) 0%, rgba(255, 79, 10, 1) 100%);
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 50px;
}

.card-container div{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 14px 33px -28px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 14px 33px -28px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 14px 33px -28px rgba(0,0,0,0.55);
    border-radius:20px;
}

.firs-card{
    background: #ff2194;
    background: linear-gradient(0deg, rgba(255, 33, 148, 1) 0%, rgba(255, 120, 66, 1) 100%);
    padding: 50px 30px;
    color: white;
    position: relative;
}

.firs-card p {
    font-size: 2rem;
    font-weight: 1000

}

.card-container > div:not(.firs-card) {
    /* styles here */
    position: relative;
    padding: 0 30px;
    gap: 20px;

}

.card-container img{
    width: 4rem;
    transform: translateY(-30px);
}


.card-container a{
    color: #FF2194;
    text-decoration: none;
    font-weight: 800;

}

.card-container > div:not(.firs-card) > :nth-child(2) {
    margin-top: -40px;
}

.card-container > div:not(.firs-card) p{
    color: #777777;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.6;
 }

 footer{
    background-color: rgb(3, 0, 46);
    color: white;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

footer button{
    border: none;
    border-radius: 100px;
    padding: 15px 0;
    width: 20%;
    color: white;
    font-size:1.2rem ;
    background: #ff2194;
    background: linear-gradient(0deg, rgba(255, 33, 148, 1) 0%, rgba(230, 66, 255, 1) 100%);
}

@media (max-width: 1280px){

    html{
        overflow-x: hidden;
    }

    .content{
        padding: 0 0 0 30px;
    }

    nav{
        padding: 30px;
    }

    picture img{
    transform: translate(10px, -190px);
    overflow: hidden;
    width: 150%;
}

.context h1, .context p{
    width: 100%;
}

footer{
    padding: 30px;
}

footer button{
    min-width: 150px;
}


}

@media (max-width: 1024px){

    .context{
        margin-top: -30%;
    }

    nav{
        padding: 30px;
    }

    
    picture img{
    transform: translate(80px, -220px);
    overflow: hidden;
    width: 150%;
    }

    .card-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px;
}

footer{
    padding: 30px;
}

footer button{
    min-width: 150px;
}

}

@media (max-width: 597px){

    html{
        overflow: visible;
    }
    
    .content{
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
    }

    .context{
        margin: 0;
    }

   picture img {
    width: 100%;
    min-width: 400px;
    transform: none;
    position: static;
  }


    .card-container{
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    
    gap: 50px;
}

footer{
    padding: 30px;
}

footer button{
    min-width: 150px;
}

}


