* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;

}

body {
    font-family: "Red Hat Display", sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
}

main{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 20vw;
  min-width: 300px;
  height: auto;
  gap: 25px;
  padding: 0 40px 40px 40px;
  text-align: center;
}

.div-one{
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  padding: 15px;

}

.sub-div {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 1px;
  align-items: center;
}

.sub-div img{
  grid-area: 1 / 1 / 3 / 2;
 
}

.sub-div p:first-child{
  font-weight: 1000;
}

.sub-div p:first-of-type{
  font-weight: 1000;
  font-size: 14px;
}

.sub-div p:nth-of-type(2){
  font-size: 13px;
}

.div-one > p{
  font-size: 13px;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
}

button{
  width: 100%;
  padding: 10px;
}

main button:nth-last-of-type(1){
  background-color: transparent;
  border: none;
}

main button:nth-last-of-type(2){
  background-color: hsl(245, 75%, 52%);
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 15px 25px rgba(52, 1, 255, 0.2)
}

h1{ 
  font-weight: 1000;
}


@media (width:1024px)  {

  main{
    width: 40%;
    height: 80%;
  }
  
}